---
import Section from './Section.astro';
import ExperienceItem from './ExperienceItem.astro';
import experiences from '../../work-history.yaml';

interface Experience {
  name: string;
  date: string;
  bullets: string[];
  description: string;
  link?: string;
}
---

<Section title="Experience">
  {experiences.map((experience: Experience) => (
    <ExperienceItem
      name={experience.name}
      date={experience.date}
      bullets={experience.bullets}
      description={experience.description}
      link={experience.link}
  />
  ))}
</Section>
