---
import { Image } from 'astro:assets';
import { name, description, github, linkedin } from '../site_metadata.json';
import profile from '../../public/images/profile.jpg';
---

<header class="custom-header block mb-6 md:flex">
  <div class="w-full max-w-37">
    <Image
      class="rounded-full transform transition-all duration-150 hover:scale-105"
      src={profile}
      width="150"
      height="150"
      loading="eager"
      alt={name}
    />
  </div>
  <div class="flex-none pt-6 md:pt-1 md:flex-1 md:pl-20">
    <h1
      class="transition-colors duration-200 text-5xl font-bold"
    >
      {name}
    </h1>
    <p class="opacity-80">
      {description}
    </p>
    <ul class="mt-6 uppercase tracking-wider">
      <li class="inline list-none pr-4">
        <a
          class="inline-block py-2 font-semibold text-xs transition-colors duration-150"
          href={`https://github.com/${github}`}
        >
          GitHub
        </a>
      </li>
      <li class="inline list-none pr-4">
        <a
          class="inline-block py-2 font-semibold text-xs transition-colors duration-150"
          href={linkedin}
        >
          LinkedIn
        </a>
      </li>
      <li class="inline list-none pr-4">
        <a
          class="inline-block py-2 font-semibold text-xs transition-colors duration-150"
          href="https://docs.google.com/document/d/15v0nRZc_yus7pt-NqmbFHfQcHE2nTdcbW6zwgKrubpg/edit?usp=sharing"
        >
          Resume
        </a>
      </li>
    </ul>
  </div>
</header>
