---
import Section from './Section.astro';
import SummaryItem from './SummaryItem.astro';

const API_URL = 'https://api.github.com/users/iNoles/repos';
const GITHUB_TOKEN = import.meta.env.GITHUB_TOKEN; // Access the token from environment variables

// Fetch GitHub data during build time with authorization header
const response = await fetch(API_URL, {
  headers: {
    Authorization: `token ${GITHUB_TOKEN}`,
  },
});

if (!response.ok) {
  throw new Error(`HTTP error! Status: ${response.status}`);
}

const repos = await response.json();
---

<Section title="Projects">
  {repos.map((repo) => (
    <SummaryItem
      key={repo.id} // Add key prop for list items
      name={repo.name}
      description={repo.description}
      link={repo.html_url}
    />
  ))}
</Section>