---
import Section from './Section.astro';
import WebsiteCard from '../components/WebsiteCard.astro';
import type { Website } from '../components/WebsiteCard.astro';
import { t } from '../utils/i18n.ts';

const websites = t('websites.items') as Websites[];
---

<Section title={t('websites.title')}>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
    {websites.map(website => (
      <WebsiteCard
        title={website.title}
        description={website.description}
        url={website.url}
        repo={website.repo}
        thumbnail={website.thumbnail}
        tech={website.tech}
      />
    ))}
  </div>
</Section>