---
import GoogleAnalytics from '../components/GoogleAnalytics.astro'
import '../base.css';
import { title, description } from '../site_metadata.json';
import { Font } from 'astro:assets';
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    
    <!-- Google Analytics -->
    <GoogleAnalytics measurementId={'G-CVE0ZBT5L4'} />

    <!-- Meta tags for SEO -->
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta name="og:title" content={title} />
    <meta name="og:description" content={description} />
    <meta name="og:type" content="website" />
    
    <!-- Title of the page -->
    <title>{title}</title>
    
    <!-- Font preloading for Inter font -->
    <Font cssVariable="--font-inter" preload />
  </head>
  <body>
    <slot />
  </body>
</html>
